@if (hasError()) {
  <bam-message />
}

<h1 i18n data-cy="team-create-headline">Neues Team</h1>

<bam-team-form
  [banks]="banksResource.value() ?? []"
  [isSubmitting]="isLoading()"
  (teamSubmit)="createTeam($event)"
  (hasUnsavedChanges)="setHasUnsavedChanges($event)"
/>

@if (isLoading()) {
  <bam-loading />
}
