<div class="ui grid">
  <div class="eight wide column">
    <table
      class="ui small compact fixed celled table"
      data-cy="team-details-left-table"
    >
      <thead>
        <tr>
          <th i18n class="left aligned">Bank</th>
          <th i18n class="center aligned">Anfragen</th>
          <th i18n class="center aligned">Prozent</th>
          <th i18n class="center aligned">Bestanden</th>
        </tr>
      </thead>

      <tbody>
        @for (
          statistic of statistics() | tableStatistics: totalRequests();
          track statistic.bank
        ) {
          @if ($even) {
            <tr data-cy="team-details-left-table-row">
              <td class="left aligned">{{ statistic.bank }}</td>
              <td class="center aligned">{{ statistic.requests }}</td>
              <td
                class="center aligned"
                data-cy="team-details-left-table-percentage"
              >
                {{ statistic.percentage | percent: "1.2" }}
              </td>
              <td class="center aligned">
                <i
                  class="icon"
                  data-cy="team-details-left-table-icon"
                  [class]="
                    statistic.hasPassed ? 'green checkmark' : 'red close'
                  "
                ></i>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>

  <div class="eight wide column">
    <table
      class="ui small compact fixed celled table"
      data-cy="team-details-right-table"
    >
      <thead>
        <tr>
          <th i18n class="left aligned">Bank</th>
          <th i18n class="center aligned">Anfragen</th>
          <th i18n class="center aligned">Prozent</th>
          <th i18n class="center aligned">Bestanden</th>
        </tr>
      </thead>

      <tbody>
        @for (
          statistic of statistics() | tableStatistics: totalRequests();
          track statistic.bank
        ) {
          @if ($odd) {
            <tr data-cy="team-details-right-table-row">
              <td class="left aligned">{{ statistic.bank }}</td>
              <td class="center aligned">{{ statistic.requests }}</td>
              <td
                class="center aligned"
                data-cy="team-details-right-table-percentage"
              >
                {{ statistic.percentage | percent: "1.2" }}
              </td>
              <td class="center aligned">
                <i
                  class="icon"
                  data-cy="team-details-right-table-icon"
                  [class]="
                    statistic.hasPassed ? 'green checkmark' : 'red close'
                  "
                ></i>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>
