<form
  class="ui equal width form"
  data-cy="task-form"
  [formGroup]="form"
  (ngSubmit)="submitForm()"
>
  <bam-form-stepper
    linear
    [titles]="stepperTitles"
    [isSubmitting]="isSubmitting()"
  >
    <cdk-step [completed]="isFirstStepValid" [hasError]="!isFirstStepValid">
      <bam-task-form-common />

      @defer (on idle) {
        <bam-task-form-description />
      } @placeholder {
        <bam-task-form-description-placeholder />
      }
    </cdk-step>

    <cdk-step
      [stepControl]="form.controls.parameters"
      [hasError]="form.controls.parameters.invalid"
    >
      <bam-task-form-parameters [exampleTeam]="exampleTeam()" />
    </cdk-step>

    <cdk-step
      [stepControl]="form.controls.responses"
      [hasError]="form.controls.responses.invalid"
    >
      <bam-task-form-responses />
    </cdk-step>
  </bam-form-stepper>
</form>
