<div cdkDropListGroup class="ui grid" data-cy="team-form-statistics">
  <div class="eight wide column" id="left-custom-column">
    <p i18n class="custom-label">Zu migrierende Banken (Drag & Drop)</p>

    <div
      cdkDropList
      cdkDropListSortingDisabled
      class="ui segments"
      [cdkDropListData]="selectedStatistics()"
      (cdkDropListEntered)="setUnselectedPlaceholder($event)"
      (cdkDropListDropped)="changeStatistic($event)"
    >
      @for (statistic of selectedStatistics(); track statistic.bank) {
        <div
          cdkDrag
          class="ui segment"
          data-cy="team-form-selected-statistic"
          [cdkDragData]="statistic"
        >
          {{ statistic.bank }}
        </div>
      }

      @if (
        !selectedStatistics().length || showSelectedStatisticsPlaceholder()
      ) {
        <div
          cdkDragDisabled
          cdkDrag
          i18n
          class="ui segment"
          data-cy="team-form-selected-statistic-placeholder"
        >
          Keine
        </div>
      }
    </div>
  </div>

  <div class="eight wide column custom-column" id="right-custom-column">
    <p i18n class="custom-label">Nicht zu migrierende Banken (Drag & Drop)</p>

    <div
      cdkDropList
      cdkDropListSortingDisabled
      class="ui segments"
      [cdkDropListData]="unselectedStatistics()"
      (cdkDropListEntered)="setSelectedPlaceholder($event)"
      (cdkDropListDropped)="changeStatistic($event)"
    >
      @for (statistic of unselectedStatistics(); track statistic.bank) {
        <div
          cdkDrag
          class="ui segment"
          data-cy="team-form-unselected-statistic"
          [cdkDragData]="statistic"
        >
          {{ statistic.bank }}
        </div>
      }

      @if (
        !unselectedStatistics().length || showUnselectedStatisticsPlaceholder()
      ) {
        <div
          cdkDragDisabled
          cdkDrag
          i18n
          class="ui segment"
          data-cy="team-form-unselected-statistic-placeholder"
        >
          Keine
        </div>
      }
    </div>
  </div>
</div>
