@if (team().type === TeamType.REGULAR) {
  <button
    class="ui tiny red labeled icon button"
    data-cy="team-details-delete-button"
    type="button"
    (click)="deleteTeam()"
  >
    <i class="trash icon"></i> <ng-container i18n>Team löschen</ng-container>
  </button>
}

<a
  class="ui tiny yellow labeled icon button"
  data-cy="team-details-edit-link"
  [routerLink]="teamEditLink()"
>
  <i class="write icon"></i> <ng-container i18n>Team bearbeiten</ng-container>
</a>

<button
  class="ui tiny orange labeled icon button"
  data-cy="team-details-reset-queue-button"
  type="button"
  (click)="deleteQueue()"
>
  <i class="remove icon"></i>
  <ng-container i18n>JMS-Queue zurücksetzen</ng-container>
</button>

<button
  class="ui tiny orange labeled icon button"
  data-cy="team-details-reset-statistics-button"
  type="button"
  (click)="resetStatistics()"
>
  <i class="remove icon"></i>
  <ng-container i18n>Bankanfragen zurücksetzen</ng-container>
</button>

@if (message(); as message) {
  <bam-message [message]="message" />
}

@if (isLoading()) {
  <bam-loading />
}
