<h1 data-cy="form-stepper-headline">
  {{ title() }}
  (<ng-container i18n>Schritt</ng-container> {{ selectedIndex + 1 }}/{{
    steps.length
  }})
</h1>

<div [ngTemplateOutlet]="selected ? selected.content : null"></div>

<div class="fields">
  @if (selectedIndex !== 0) {
    <div class="field">
      <button
        cdkStepperPrevious
        type="button"
        class="ui fluid button"
        i18n
        data-cy="form-stepper-previous-button"
        [class]="selected?.hasError ? 'red' : 'orange'"
        [disabled]="selected?.hasError || isSubmitting()"
      >
        Vorherige
      </button>
    </div>
  }

  @if (selectedIndex + 1 !== steps.length) {
    <div class="field">
      <button
        cdkStepperNext
        type="button"
        class="ui fluid button"
        i18n
        data-cy="form-stepper-next-button"
        [class]="selected?.hasError ? 'red' : 'green'"
        [disabled]="selected?.hasError || isSubmitting()"
      >
        Nächste
      </button>
    </div>
  }

  @if (selectedIndex + 1 === steps.length) {
    <div class="field">
      <button
        type="submit"
        class="ui fluid button"
        i18n
        data-cy="form-stepper-submit-button"
        [class]="selected?.hasError ? 'red' : 'green'"
        [disabled]="selected?.hasError || isSubmitting()"
      >
        Speichern
      </button>
    </div>
  }
</div>
