<h1 i18n data-cy="home-title">Start</h1>
<p i18n>
  Das ist das Frontend zum Konfigurieren des Kurses BAM Businessintegration
</p>

<a target="_blank" class="ui olive button" [href]="activeMqUrl">
  <ng-container i18n>ActiveMQ</ng-container>
  <i class="right info icon"></i>
</a>
<a target="_blank" class="ui olive button" [href]="googleCloudIamUrl">
  <ng-container i18n>TODO</ng-container>
  <i class="right info icon"></i>
</a>

<button
  class="ui red button"
  data-cy="reset-broker-button"
  type="button"
  (click)="resetBroker()"
>
  <ng-container i18n>Kurs neu starten</ng-container>
  <i class="right refresh icon"></i>
</button>

@if (message(); as message) {
  <bam-message [message]="message" />
}

@if (isLoading()) {
  <bam-loading />
}
