<div class="ui grid">
  @for (bank of banks(); track bank.uuid) {
    @if (bank.creditConfiguration) {
      <div class="eight wide column">
        <bam-bank-credit-configuration-list-item
          data-cy="credit-configuration-list-item"
          [creditConfiguration]="bank.creditConfiguration"
          [title]="bank.name"
          [jmsQueue]="bank.jmsQueue"
        />
      </div>
    }
  }
</div>
