.tiny-image-wrapper {
  position: relative;
  width: 80px;
  height: 80px;
}

.small-image-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
}

.custom-image {
  object-fit: contain;
}
