<ng-container [formGroup]="form">
  <div class="field" data-cy="task-form-title-field">
    <label i18n for="title">Titel</label>
    <div class="ui left corner labeled input">
      <input
        formControlName="title"
        type="text"
        id="title"
        data-cy="task-form-title-input"
      />
      <div class="ui left corner label">
        <i class="asterisk icon"></i>
      </div>
    </div>
    <bam-form-error-message
      fieldName="Titel"
      [errors]="form.controls.title.errors"
      i18n-fieldName
    />
  </div>

  <div formGroupName="contact" class="three fields">
    <div class="field" data-cy="task-form-contact-firstname-field">
      <label i18n for="firstname">Betreuer Vorname</label>
      <div class="ui left corner labeled input">
        <input
          formControlName="firstname"
          type="text"
          id="firstname"
          data-cy="task-form-contact-firstname-input"
        />
        <div class="ui left corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
      <bam-form-error-message
        fieldName="Vorname"
        [errors]="contact.controls.firstname.errors"
        i18n-fieldName
      />
    </div>

    <div class="field" data-cy="task-form-contact-lastname-field">
      <label i18n for="lastname">Nachname</label>
      <div class="ui left corner labeled input">
        <input
          formControlName="lastname"
          type="text"
          id="lastname"
          data-cy="task-form-contact-lastname-input"
        />
        <div class="ui left corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
      <bam-form-error-message
        fieldName="Nachname"
        [errors]="contact.controls.lastname.errors"
        i18n-fieldName
      />
    </div>

    <div class="field" data-cy="task-form-contact-email-field">
      <label i18n for="email">E-Mail</label>
      <div class="ui left corner labeled input">
        <input
          formControlName="email"
          type="email"
          id="email"
          data-cy="task-form-contact-email-input"
        />
        <div class="ui left corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
      <bam-form-error-message
        fieldName="E-Mail"
        [errors]="contact.controls.email.errors"
        i18n-fieldName
      />
    </div>
  </div>

  <div id="is-open-api-verbose-field" class="field">
    <label i18n for="isOpenApiVerbose">
      Aufgabenstellung in Schnittstellendoku anzeigen
    </label>
    <select
      formControlName="isOpenApiVerbose"
      id="isOpenApiVerbose"
      class="select"
      data-cy="task-form-is-open-api-verbose-select"
    >
      <option [ngValue]="true" i18n>Ja</option>
      <option [ngValue]="false" i18n>Nein</option>
    </select>
  </div>
</ng-container>
