@if (message(); as message) {
  <bam-message [message]="message" />
}

@if (tasks(); as tasks) {
  @for (task of tasks; track task.uuid) {
    @if (!(task.banks | hasNoAsyncBanksActivated)) {
      <div class="page">
        <bam-task-list-print-item
          data-cy="task-list-print-item"
          [task]="task"
        />
      </div>
    }
  } @empty {
    <bam-message [message]="notFoundMessage" />
  }
}
