@if (showTaskItems()) {
  <div
    class="item"
    data-cy="print-tasks-button"
    [routerLink]="[{ outlets: { print: ['print', 'tasks'] } }]"
  >
    <div i18n class="ui olive button">Aufgabenstellung drucken</div>
  </div>
}

@if (showBankItems() && banks().length) {
  <div class="item">
    <div
      class="ui yellow simple dropdown button"
      data-cy="distribute-teams-dropdown"
      tabindex="0"
    >
      <ng-container i18n>Teams verteilen</ng-container>
      <div class="menu">
        @for (bank of banks(); track bank.uuid) {
          <div
            class="item"
            data-cy="distribute-teams-option"
            tabindex="0"
            (keyup)="onRecreateStatistics($index + 1, $event)"
            (click)="onRecreateStatistics($index + 1)"
          >
            {{ $index + 1 }}
            @if ($first) {
              <span i18n>asynchrone Bank</span>
            } @else {
              <span i18n>asynchrone Banken</span>
            }
          </div>
        }
      </div>
    </div>
  </div>
}

@if (showTeamItems()) {
  <div routerLink="/teams/create" class="item" data-cy="new-team-button">
    <div i18n class="ui olive button">Neues Team</div>
  </div>
}

<div class="item">
  <div i18n class="ui orange button">Abmelden</div>
</div>

@if (isLoading()) {
  <bam-loading />
}
