<div class="container">
  <div class="ui middle aligned selection divided list custom-list">
    @for (item of items() | slice: start() : end(); track item.uuid) {
      <ng-container
        *ngTemplateOutlet="listItemTemplate(); context: { $implicit: item }"
      />
    }

    <ng-container
      *ngTemplateOutlet="messageTemplate(); context: { $implicit: items() }"
    />
  </div>

  @if (hasPages()) {
    <div class="ui pagination menu" data-cy="frontend-pagination-menu">
      @for (page of pageNumbers(); track page) {
        <div
          class="item"
          data-cy="frontend-pagination-item"
          tabindex="0"
          [class.active]="page === currentPage()"
          (keyup)="onPageClick(page, $event)"
          (click)="onPageClick(page)"
        >
          {{ page }}
        </div>
      }
    </div>
  }
</div>
