<h4 i18n class="endpoints-headline">Endpunkte</h4>

@for (endpoint of endpoints(); track endpoint.uuid) {
  <div data-cy="endpoint-url">
    {{ endpoint.type }}-
    <ng-container i18n="Word is appended to hyphen (e.g. REST-Endpunkt)">
      Endpunkt:
    </ng-container>

    @if (endpoint.url) {
      <a target="_blank" data-cy="endpoint-url-link" [href]="endpoint.url">
        {{ endpoint.url }}
      </a>
    } @else {
      <span i18n data-cy="endpoint-url-hint">siehe Doku</span>
    }
  </div>

  <div data-cy="endpoint-docs-url">
    {{ endpoint.type }}-
    <ng-container i18n="Word is appended to hyphen (e.g. REST-Doku)">
      Doku:
    </ng-container>

    @if (endpoint.docsUrl) {
      <a
        target="_blank"
        data-cy="endpoint-docs-url-link"
        [href]="endpoint.docsUrl"
      >
        {{ endpoint.docsUrl }}
      </a>
    } @else {
      <span i18n data-cy="endpoint-docs-url-hint">nicht vorhanden</span>
    }
  </div>
}
