@if (tasksResource.value(); as tasks) {
  <bam-frontend-pagination
    [items]="tasks"
    [pageNumber]="pageNumber()"
    [listItemTemplate]="listItemTemplate"
    [messageTemplate]="messageTemplate"
    (pageNumberChange)="navigateToPageNumber($event)"
  />

  <ng-template #listItemTemplate let-item>
    <bam-task-list-item
      class="item custom-item"
      data-cy="task-list-item"
      [task]="item"
      [routerLink]="['/tasks/details', item.uuid]"
    />
  </ng-template>

  <ng-template #messageTemplate let-items>
    @if (items | asyncBanks | hasNoAsyncBanksActivated) {
      <bam-message [message]="deactivatedMessage" />
    }

    @if (!items.length) {
      <bam-message [message]="notFoundMessage" />
    }
  </ng-template>
}

@if (tasksResource.error()) {
  <bam-message />
}

@if (tasksResource.isLoading()) {
  <bam-loading />
}
