<ng-container [formGroup]="form">
  <ng-container formArrayName="responses">
    @for (
      response of responses.controls;
      track response.controls.uuid.getRawValue()
    ) {
      <div class="fields" [formGroupName]="$index">
        <div class="field" data-cy="task-form-responses-description-field">
          <label
            data-cy="task-form-responses-description-label"
            [for]="'description' + $index"
          >
            <ng-container i18n>Beschreibung</ng-container>

            @if (response.controls.httpStatusCode.getRawValue() !== -1) {
              (<ng-container i18n>Statuscode</ng-container>
              {{ response.controls.httpStatusCode.getRawValue() }})
            }
          </label>
          <div class="ui left corner labeled input">
            <input
              formControlName="description"
              type="text"
              data-cy="task-form-responses-description-input"
              [id]="'description' + $index"
            />
            <div class="ui left corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
          <bam-form-error-message
            fieldName="Beschreibung"
            i18n-fieldName
            [errors]="responses.controls[$index].controls.description.errors"
          />
        </div>

        <div class="field" data-cy="task-form-responses-example-field">
          <label [for]="'example' + $index" i18n>Beispiel</label>
          <div class="ui left corner labeled input">
            <input
              formControlName="example"
              type="text"
              data-cy="task-form-responses-example-input"
              [id]="'example' + $index"
            />
            <div class="ui left corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
          <bam-form-error-message
            fieldName="Beispiel"
            i18n-fieldName
            [errors]="responses.controls[$index].controls.example.errors"
          />
        </div>
      </div>
    }
  </ng-container>
</ng-container>
