@if (error()) {
  <div class="error-message-wrapper">
    <bam-message />
  </div>
}

@if (taskResource.value(); as task) {
  <bam-task-form
    [isSubmitting]="isLoading()"
    [task]="task"
    [exampleTeam]="exampleTeam()"
    (taskSubmit)="updateTask($event)"
    (hasUnsavedChanges)="setHasUnsavedChanges($event)"
  />
}

@if (isLoading()) {
  <bam-loading />
}
