@if (bankResource.value(); as bank) {
  <bam-bank-details-view [bank]="bank" />

  <bam-bank-details-options [bank]="bank" (bankChange)="updateBank($event)" />
}

@if (bankResource.error()) {
  <bam-message />
}

@if (bankResource.isLoading()) {
  <bam-loading />
}
