@if (title()) {
  <h4 data-cy="custom-credit-configuration-title">{{ title() }}</h4>
} @else {
  <h4 i18n data-cy="default-credit-configuration-title">Krediteinstellungen</h4>
}

@if (jmsQueue()) {
  <div data-cy="credit-configuration-jms-queue">
    <ng-container i18n>JMS-Queue</ng-container>: {{ jmsQueue() }}
  </div>
}

<div>
  <ng-container i18n>Kreditminimum:</ng-container>
  {{ creditConfiguration().minAmountInEuros | currency: "EUR" }}
</div>
<div>
  <ng-container i18n>Kreditmaximum:</ng-container>
  {{ creditConfiguration().maxAmountInEuros | currency: "EUR" }}
</div>
<div data-cy="credit-configuration-min-term-text">
  <ng-container i18n>Mindestlaufzeit:</ng-container>
  <!--
    eslint-disable-next-line @angular-eslint/template/i18n --
    Translate plurals (ICU expressions) are extracted automatically.
    https://angular.dev/guide/i18n/translation-files#translate-plurals
  -->
  {creditConfiguration().minTermInMonths, plural,
    one {{{ creditConfiguration().minTermInMonths }} Monat}
    other {{{ creditConfiguration().minTermInMonths }} Monate}
  }
</div>
<div data-cy="credit-configuration-max-term-text">
  <ng-container i18n>Maximallaufzeit:</ng-container>
  <!--
    eslint-disable-next-line @angular-eslint/template/i18n --
    Translate plurals (ICU expressions) are extracted automatically.
    https://angular.dev/guide/i18n/translation-files#translate-plurals
  -->
  {creditConfiguration().maxTermInMonths, plural,
    one {{{ creditConfiguration().maxTermInMonths }} Monat}
    other {{{ creditConfiguration().maxTermInMonths }} Monate}
  }
</div>
<div>
  <ng-container i18n="Min. is an abbrevation for minimum">
    Min. Schufa-Rating:
  </ng-container>
  {{ creditConfiguration().minSchufaRating }}
</div>
<div>
  <ng-container i18n="Max. is an abbrevation for maximum">
    Max. Schufa-Rating:
  </ng-container>
  {{ creditConfiguration().maxSchufaRating }}
</div>
