<form
  class="ui equal width form"
  data-cy="bank-form"
  [formGroup]="form"
  (ngSubmit)="submitForm()"
>
  @if (form.controls.isAsync.getRawValue()) {
    <div class="field">
      <label i18n for="isActive">Status</label>
      <select
        formControlName="isActive"
        id="isActive"
        class="select"
        data-cy="bank-form-is-active-select"
      >
        <option [ngValue]="true" i18n>Aktiviert</option>
        <option [ngValue]="false" i18n>Deaktiviert</option>
      </select>
    </div>
  }

  <div class="field" data-cy="bank-form-thumbnail-url-field">
    <label i18n for="thumbnailUrl">Bild-URL</label>
    <div class="ui left corner labeled input">
      <input
        formControlName="thumbnailUrl"
        type="url"
        id="thumbnailUrl"
        data-cy="bank-form-thumbnail-url-input"
      />
      <div class="ui left corner label">
        <i class="asterisk icon"></i>
      </div>
    </div>
    <bam-form-error-message
      fieldName="Bild-URL"
      [errors]="form.controls.thumbnailUrl.errors"
      i18n-fieldName
    />
  </div>

  @if (form.controls.hasCreditConfiguration.getRawValue()) {
    <div formGroupName="amountInEuros" class="fields">
      <div class="field" data-cy="bank-form-min-amount-in-euros-field">
        <label i18n for="minAmountInEuros">Kreditminimum (Euro)</label>
        <div class="ui left corner labeled input">
          <input
            formControlName="minAmountInEuros"
            type="number"
            id="minAmountInEuros"
            data-cy="bank-form-min-amount-in-euros-input"
          />
          <div class="ui left corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
        <bam-form-error-message
          fieldName="Kreditminimum"
          [errors]="amountInEuros.controls.minAmountInEuros.errors"
          i18n-fieldName
        />
        <bam-form-error-message [errors]="amountInEuros.errors" />
      </div>

      <div class="field" data-cy="bank-form-max-amount-in-euros-field">
        <label i18n for="maxAmountInEuros">Kreditmaximum (Euro)</label>
        <div class="ui left corner labeled input">
          <input
            formControlName="maxAmountInEuros"
            type="number"
            id="maxAmountInEuros"
            data-cy="bank-form-max-amount-in-euros-input"
          />
          <div class="ui left corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
        <bam-form-error-message
          fieldName="Kreditmaximum"
          [errors]="amountInEuros.controls.maxAmountInEuros.errors"
          i18n-fieldName
        />
        <bam-form-error-message [errors]="amountInEuros.errors" />
      </div>
    </div>

    <div formGroupName="termInMonths" class="fields">
      <div class="field" data-cy="bank-form-min-term-in-months-field">
        <label i18n for="minTermInMonths">Mindestlaufzeit (Monate)</label>
        <div class="ui left corner labeled input">
          <input
            formControlName="minTermInMonths"
            type="number"
            id="minTermInMonths"
            data-cy="bank-form-min-term-in-months-input"
          />
          <div class="ui left corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
        <bam-form-error-message
          fieldName="Mindestlaufzeit"
          [errors]="termInMonths.controls.minTermInMonths.errors"
          i18n-fieldName
        />
        <bam-form-error-message [errors]="termInMonths.errors" />
      </div>

      <div class="field" data-cy="bank-form-max-term-in-months-field">
        <label i18n for="maxTermInMonths">Maximallaufzeit (Monate)</label>
        <div class="ui left corner labeled input">
          <input
            formControlName="maxTermInMonths"
            type="number"
            id="maxTermInMonths"
            data-cy="bank-form-max-term-in-months-input"
          />
          <div class="ui left corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
        <bam-form-error-message
          fieldName="Maximallaufzeit"
          [errors]="termInMonths.controls.maxTermInMonths.errors"
          i18n-fieldName
        />
        <bam-form-error-message [errors]="termInMonths.errors" />
      </div>
    </div>

    <div formGroupName="schufaRating" class="fields">
      <div class="field" data-cy="bank-form-min-schufa-rating-field">
        <label i18n="Min. is an abbrevation for minimum" for="minSchufaRating">
          Min. Schufa-Rating
        </label>
        <select
          formControlName="minSchufaRating"
          id="minSchufaRating"
          class="select"
          data-cy="bank-form-min-schufa-rating-select"
        >
          @for (ratingLevel of RatingLevel | keyvalue; track ratingLevel) {
            <option [value]="ratingLevel.value">
              {{ ratingLevel.value }}
            </option>
          }
        </select>
        <bam-form-error-message [errors]="schufaRating.errors" />
      </div>

      <div class="field" data-cy="bank-form-max-schufa-rating-field">
        <label i18n="Max. is an abbrevation for minimum" for="maxSchufaRating">
          Max. Schufa-Rating
        </label>
        <select
          formControlName="maxSchufaRating"
          id="maxSchufaRating"
          class="select"
          data-cy="bank-form-max-schufa-rating-select"
        >
          @for (ratingLevel of RatingLevel | keyvalue; track ratingLevel) {
            <option [value]="ratingLevel.value">
              {{ ratingLevel.value }}
            </option>
          }
        </select>
        <bam-form-error-message [errors]="schufaRating.errors" />
      </div>
    </div>
  }

  <button
    type="submit"
    class="ui fluid button"
    data-cy="bank-form-submit-button"
    i18n
    [disabled]="isSubmitting()"
    [class]="form.valid ? 'green' : 'red'"
  >
    Speichern
  </button>
</form>
