<div
  class="ui message custom"
  data-cy="message"
  [class]="[message().type, message().size]"
>
  <div class="header">{{ message().text }}</div>

  @if (message().description) {
    <p>{{ message().description }}</p>
  }
</div>
