<ng-container [formGroup]="form">
  <ng-container formArrayName="parameters">
    @for (
      parameter of parameters.controls;
      track parameter.controls.uuid.getRawValue()
    ) {
      <div class="fields" [formGroupName]="$index">
        <div class="field" data-cy="task-form-parameters-description-field">
          <label
            data-cy="task-form-parameters-description-label"
            [for]="'description' + $index"
          >
            {{ parameter.controls.name.getRawValue() }} ({{
              parameter.controls.type.getRawValue() | lowercase
            }})
          </label>
          <input
            formControlName="description"
            i18n-placeholder
            placeholder="Beschreibung"
            type="text"
            data-cy="task-form-parameters-description-input"
            [id]="'description' + $index"
          />
          <bam-form-error-message
            fieldName="Beschreibung"
            i18n-fieldName
            [errors]="parameters.controls[$index].controls.description.errors"
          />
        </div>

        <div class="field" data-cy="task-form-parameters-example-field">
          <label [for]="'example' + $index" i18n>Beispiel</label>

          @switch (parameter.controls.name.getRawValue()) {
            @case ("ratingLevel") {
              <select
                formControlName="example"
                class="select"
                data-cy="task-form-parameters-rating-level-example-input"
                [id]="'example' + $index"
              >
                @for (
                  ratingLevel of RatingLevel | keyvalue;
                  track ratingLevel
                ) {
                  <option [value]="ratingLevel.value">
                    {{ ratingLevel.value }}
                  </option>
                }
              </select>
            }
            @case ("delayInMilliseconds") {
              <div class="ui left corner labeled input">
                <input
                  formControlName="example"
                  type="number"
                  data-cy="task-form-parameters-delay-in-milliseconds-example-input"
                  [id]="'example' + $index"
                />
                <div class="ui left corner label">
                  <i class="asterisk icon"></i>
                </div>
              </div>
            }
            @case ("username") {
              <div class="ui action input">
                <div class="ui left corner labeled input">
                  <input
                    formControlName="example"
                    type="text"
                    data-cy="task-form-parameters-username-example-input"
                    [id]="'example' + $index"
                  />
                  <div class="ui left corner label">
                    <i class="asterisk icon"></i>
                  </div>
                </div>

                @if (exampleTeam(); as exampleTeam) {
                  <button
                    type="button"
                    i18n
                    class="ui button"
                    data-cy="task-form-parameters-username-edit-button"
                    [routerLink]="['/teams/edit', exampleTeam.uuid]"
                  >
                    Beispielteam bearbeiten
                  </button>
                }
              </div>
            }
            @case ("password") {
              <div class="ui action input">
                <div class="ui left corner labeled input">
                  <input
                    formControlName="example"
                    type="text"
                    data-cy="task-form-parameters-password-example-input"
                    [id]="'example' + $index"
                  />
                  <div class="ui left corner label">
                    <i class="asterisk icon"></i>
                  </div>
                </div>

                @if (exampleTeam(); as exampleTeam) {
                  <button
                    type="button"
                    i18n
                    class="ui button"
                    data-cy="task-form-parameters-password-edit-button"
                    [routerLink]="['/teams/edit', exampleTeam.uuid]"
                  >
                    Beispielteam bearbeiten
                  </button>
                }
              </div>
            }
            @case ("amountInEuros") {
              <div
                class="ui action input"
                data-cy="task-form-parameters-amount-in-euros-example-field"
              >
                <div class="ui left corner labeled input">
                  <input
                    formControlName="example"
                    type="number"
                    data-cy="task-form-parameters-amount-in-euros-example-input"
                    [id]="'example' + $index"
                  />
                  <div class="ui left corner label">
                    <i class="asterisk icon"></i>
                  </div>
                </div>

                @if (bankId) {
                  <button
                    type="button"
                    i18n
                    class="ui button"
                    data-cy="task-form-parameters-bank-edit-button"
                    [routerLink]="['/banks/edit', bankId]"
                  >
                    Bank bearbeiten
                  </button>
                } @else {
                  <button
                    i18n
                    routerLink="/banks"
                    type="button"
                    class="ui button"
                    data-cy="task-form-parameters-banks-edit-button"
                  >
                    Banken bearbeiten
                  </button>
                }
              </div>
            }
            @case ("termInMonths") {
              <div
                class="ui action input"
                data-cy="task-form-parameters-term-in-months-example-field"
              >
                <div class="ui left corner labeled input">
                  <input
                    formControlName="example"
                    type="number"
                    data-cy="task-form-parameters-term-in-months-example-input"
                    [id]="'example' + $index"
                  />
                  <div class="ui left corner label">
                    <i class="asterisk icon"></i>
                  </div>
                </div>

                @if (bankId) {
                  <button
                    type="button"
                    i18n
                    class="ui button"
                    data-cy="task-form-parameters-bank-edit-button"
                    [routerLink]="['/banks/edit', bankId]"
                  >
                    Bank bearbeiten
                  </button>
                } @else {
                  <button
                    i18n
                    routerLink="/banks"
                    type="button"
                    class="ui button"
                    data-cy="task-form-parameters-banks-edit-button"
                  >
                    Banken bearbeiten
                  </button>
                }
              </div>
            }
            @default {
              <div class="ui left corner labeled input">
                <input
                  formControlName="example"
                  type="text"
                  data-cy="task-form-parameters-example-input"
                  [id]="'example' + $index"
                />
                <div class="ui left corner label">
                  <i class="asterisk icon"></i>
                </div>
              </div>
            }
          }

          <bam-form-error-message
            fieldName="Beispiel"
            i18n-fieldName
            [errors]="parameters.controls[$index].controls.example.errors"
          />
        </div>
      </div>
    }
  </ng-container>
</ng-container>
