<div class="ui menu">
  <a class="item">
    <i class="flag custom gb uk"></i>
  </a>
  <a
    i18n
    class="item"
    data-cy="start-menu-item"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Start
  </a>
  <a
    i18n
    class="item"
    data-cy="tasks-menu-item"
    routerLink="/tasks"
    routerLinkActive="active"
  >
    Aufgaben
  </a>
  <a
    i18n
    class="item"
    data-cy="banks-menu-item"
    routerLink="/banks"
    routerLinkActive="active"
  >
    Banken
  </a>
  <a
    i18n
    class="item"
    data-cy="teams-menu-item"
    routerLink="/teams"
    routerLinkActive="active"
  >
    Teams
  </a>

  <bam-header-sidebar
    class="right menu"
    [showTaskItems]="showTaskItems()"
    [showBankItems]="showBankItems()"
    [showTeamItems]="showTeamItems()"
  />
</div>
