@if (teamPaginationResource.value(); as teamPagination) {
  <bam-cursor-pagination
    baseRouterLink="/teams/list"
    [pagination]="teamPagination.pagination"
    [showFilter]="true"
  >
    @for (team of teamPagination.items; track team.uuid) {
      <bam-team-list-item
        #teamListItem
        ngProjectAs="item"
        class="item"
        data-cy="team-list-item"
        [team]="team"
        [thumbnailUrl]="'large' | randomAvatar"
        [routerLink]="[
          '/teams/details',
          teamListItem.thumbnailUrl(),
          team.uuid,
        ]"
      />
    } @empty {
      <bam-message ngProjectAs="item" [message]="notFoundMessage" />
    }

    <div ngProjectAs="filter" class="filter" data-cy="team-list-filter">
      <bam-team-list-filter
        [teamQuery]="teamQuery()"
        [isSubmitting]="teamPaginationResource.isLoading()"
        (teamQueryParamsSubmit)="searchTeams($event)"
      />
    </div>
  </bam-cursor-pagination>
}

@if (teamPaginationResource.error()) {
  <bam-message />
}

@if (teamPaginationResource.isLoading()) {
  <bam-loading />
}
