@if (bank().isAsync) {
  @if (bank().isActive) {
    <button
      class="ui tiny red labeled icon button"
      data-cy="bank-details-deactivate-button"
      type="button"
      (click)="onActivateClick(false)"
    >
      <i class="power off icon"></i>
      <ng-container i18n>Bank deaktivieren</ng-container>
    </button>
  } @else {
    <button
      class="ui tiny green labeled icon button"
      data-cy="bank-details-activate-button"
      type="button"
      (click)="onActivateClick(true)"
    >
      <i class="power off icon"></i>
      <ng-container i18n>Bank aktivieren</ng-container>
    </button>
  }
}

<a
  class="ui tiny yellow labeled icon button"
  data-cy="bank-details-edit-link"
  [routerLink]="['/banks/edit', bank().uuid]"
>
  <i class="write icon"></i>
  <ng-container i18n>Bank bearbeiten</ng-container>
</a>

@if (bank().isAsync) {
  <button
    class="ui tiny olive labeled icon button"
    data-cy="bank-details-add-teams-button"
    type="button"
    (click)="onSaveStatistics()"
  >
    <i class="arrow up icon"></i>
    <ng-container i18n>Alle Teams hinzufügen</ng-container>
  </button>

  <button
    class="ui tiny orange labeled icon button"
    data-cy="bank-details-remove-teams-button"
    type="button"
    (click)="onDeleteStatistics()"
  >
    <i class="remove icon"></i>
    <ng-container i18n>Alle Teams entfernen</ng-container>
  </button>
}

@if (message(); as message) {
  <bam-message [message]="message" />
}

@if (isLoading()) {
  <bam-loading />
}
