<form class="ui form" (ngSubmit)="submitForm()">
  <div class="field">
    <label i18n for="username">Benutzername</label>
    <input
      id="username"
      i18n-placeholder
      name="username"
      type="text"
      placeholder="Name"
      data-cy="team-list-filter-username-input"
      [(ngModel)]="teamQueryForm().username"
    />
  </div>

  <div class="field">
    <label i18n for="jmsQueue">JMS-Queue</label>
    <input
      id="jmsQueue"
      i18n-placeholder
      name="jmsQueue"
      type="text"
      placeholder="Name"
      data-cy="team-list-filter-jms-queue-input"
      [(ngModel)]="teamQueryForm().jmsQueue"
    />
  </div>

  <div class="field">
    <!--
      eslint-disable-next-line @angular-eslint/template/label-has-associated-control --
      There is no way to get styles of fomantic ui using another element.
    -->
    <label i18n>Bestanden</label>
    <div class="inline fields">
      <div class="field">
        <div class="ui radio checkbox">
          <input
            id="passed"
            name="hasPassed"
            type="radio"
            value="PASSED"
            data-cy="team-list-filter-passed-radio-button"
            [(ngModel)]="teamQueryForm().hasPassed"
          />
          <label i18n for="passed">Ja</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input
            id="not-passed"
            name="hasPassed"
            type="radio"
            value="NOT_PASSED"
            data-cy="team-list-filter-not-passed-radio-button"
            [(ngModel)]="teamQueryForm().hasPassed"
          />
          <label i18n for="not-passed">Nein</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input
            id="both-passed"
            name="hasPassed"
            type="radio"
            data-cy="team-list-filter-both-passed-radio-button"
            [value]="undefined"
            [(ngModel)]="teamQueryForm().hasPassed"
          />
          <label i18n for="both-passed">Beide</label>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <!--
      eslint-disable-next-line @angular-eslint/template/label-has-associated-control --
      There is no way to get styles of fomantic ui using another element.
    -->
    <label i18n>Typ</label>
    <div class="inline fields">
      @for (type of TeamType | keyvalue; track type) {
        <div class="field">
          <div class="ui radio checkbox">
            <input
              name="type"
              type="radio"
              data-cy="team-list-filter-type-radio-button"
              [id]="type.value | lowercase"
              [value]="type.value"
              [(ngModel)]="teamQueryForm().type"
            />
            <label [for]="type.value | lowercase">
              {{ TeamType[type.value] | typeStatus }}
            </label>
          </div>
        </div>
      }
      <div class="field">
        <div class="ui radio checkbox">
          <input
            id="both-types"
            name="type"
            type="radio"
            data-cy="team-list-filter-both-types-radio-button"
            [value]="undefined"
            [(ngModel)]="teamQueryForm().type"
          />
          <label i18n for="both-types">Beide</label>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <!--
      eslint-disable-next-line @angular-eslint/template/label-has-associated-control --
      There is no way to get styles of fomantic ui using another element.
    -->
    <label i18n>Anfragen</label>
    <div class="two fields">
      <div class="field">
        <input
          id="minRequests"
          i18n-placeholder="Min. is an abbrevation for minimum"
          name="minRequests"
          type="number"
          placeholder="Min."
          min="0"
          step="1"
          onfocus="this.previousValue = this.value"
          onkeydown="this.previousValue = this.value"
          oninput="validity.valid || (value = this.previousValue)"
          data-cy="team-list-filter-min-requests-input"
          [(ngModel)]="teamQueryForm().minRequests"
        />
      </div>
      <div class="field">
        <input
          id="maxRequests"
          i18n-placeholder="Max. is an abbrevation for maximum"
          name="maxRequests"
          type="number"
          placeholder="Max."
          min="0"
          step="1"
          onfocus="this.previousValue = this.value"
          onkeydown="this.previousValue = this.value"
          oninput="validity.valid || (value = this.previousValue)"
          data-cy="team-list-filter-max-requests-input"
          [(ngModel)]="teamQueryForm().maxRequests"
        />
      </div>
    </div>
  </div>

  <div class="field">
    <!--
      eslint-disable-next-line @angular-eslint/template/label-has-associated-control --
      There is no way to get styles of fomantic ui using another element.
    -->
    <label i18n>Student</label>
    <div class="two fields">
      <div class="field">
        <input
          id="studentFirstname"
          i18n-placeholder
          name="studentFirstname"
          type="text"
          placeholder="Vorname"
          data-cy="team-list-filter-student-firstname-input"
          [(ngModel)]="teamQueryForm().studentFirstname"
        />
      </div>
      <div class="field">
        <input
          id="studentLastname"
          i18n-placeholder
          name="studentLastname"
          type="text"
          placeholder="Nachname"
          data-cy="team-list-filter-student-lastname-input"
          [(ngModel)]="teamQueryForm().studentLastname"
        />
      </div>
    </div>
  </div>

  @if (asyncBanks().length) {
    <div class="grouped fields">
      <!--
        eslint-disable-next-line @angular-eslint/template/label-has-associated-control --
        There is no way to get styles of fomantic ui using another element.
      -->
      <label i18n data-cy="team-list-filter-banks-label">Banken</label>
      <div class="field checkbox-container">
        @for (bank of asyncBanks(); track bank.uuid) {
          @if ($even) {
            <div class="two fields">
              <div class="field checkbox-ceil">
                <div class="ui checkbox">
                  <input
                    name="banks"
                    type="checkbox"
                    data-cy="team-list-filter-left-bank-checkbox"
                    [id]="bank.name"
                    [value]="bank.name"
                    [checked]="teamQueryForm().banks.has(bank.name)"
                    (change)="setBanks($event)"
                  />
                  <label [for]="bank.name">{{ bank.name }}</label>
                </div>
              </div>

              @if ($index + 1 < $count) {
                <div class="field checkbox-ceil">
                  <div class="ui checkbox">
                    <input
                      name="banks"
                      type="checkbox"
                      data-cy="team-list-filter-right-bank-checkbox"
                      [id]="asyncBanks()[$index + 1].name"
                      [value]="asyncBanks()[$index + 1].name"
                      [checked]="
                        teamQueryForm().banks.has(asyncBanks()[$index + 1].name)
                      "
                      (change)="setBanks($event)"
                    />
                    <label [for]="asyncBanks()[$index + 1].name">
                      {{ asyncBanks()[$index + 1].name }}
                    </label>
                  </div>
                </div>
              }
            </div>
          }
        }
      </div>
    </div>
  }

  <div class="ui fluid buttons">
    <button
      type="submit"
      i18n
      class="ui olive button"
      data-cy="team-list-filter-submit-button"
      [disabled]="isSubmitting()"
    >
      Suchen
    </button>
    <button
      type="button"
      class="ui orange icon reset button"
      data-cy="team-list-filter-reset-button"
      [disabled]="isSubmitting()"
      (click)="resetForm()"
    >
      <i class="undo icon"></i>
    </button>
  </div>
</form>
