@if (banksResource.value(); as banks) {
  <bam-frontend-pagination
    [items]="banks"
    [pageNumber]="pageNumber()"
    [listItemTemplate]="listItemTemplate"
    [messageTemplate]="messageTemplate"
    (pageNumberChange)="navigateToPageNumber($event)"
  />

  <ng-template #listItemTemplate let-item>
    <bam-bank-list-item
      class="item custom-item"
      data-cy="bank-list-item"
      [bank]="item"
      [routerLink]="['/banks/details', item.uuid]"
    />
  </ng-template>

  <ng-template #messageTemplate let-items>
    @if (!items.length) {
      <bam-message [message]="notFoundMessage" />
    }
  </ng-template>
}

@if (banksResource.error()) {
  <bam-message />
}

@if (banksResource.isLoading()) {
  <bam-loading />
}
