<div
  id="description-field"
  class="field"
  data-cy="task-form-description-placeholder-field"
  [formGroup]="form"
>
  <label i18n for="description">Aufgabenstellung</label>
  <textarea
    bamFitHeight
    formControlName="description"
    id="description"
    data-cy="task-form-description-placeholder-textarea"
  ></textarea>
  <bam-form-error-message
    fieldName="Aufgabenstellung"
    i18n-fieldName
    [errors]="form.controls.description.errors"
  />
</div>
