@if (error()) {
  <bam-message />
}

@if (teamResource.value(); as team) {
  <h1 i18n data-cy="team-edit-headline">Team bearbeiten</h1>

  <bam-team-form
    [team]="team"
    [banks]="banksResource.value() ?? []"
    [isSubmitting]="isLoading()"
    (teamSubmit)="updateTeam($event)"
    (hasUnsavedChanges)="setHasUnsavedChanges($event)"
  />
}

@if (isLoading()) {
  <bam-loading />
}
