/* You can add global styles to this file, and also import other style files */
@import "@hennihaus/bamdesignfrontend/dist/semantic.min.css";

html {
  margin: 0;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  padding: 30px 30px 0 30px;
  overflow-x: auto;
}

@media print {
  body {
    padding: 0;
  }

  thead {
    display: table-row-group;
  }
}
