<form
  class="ui form"
  data-cy="team-form"
  [formGroup]="form"
  (ngSubmit)="submitForm()"
>
  <div class="two fields">
    <div class="field" data-cy="team-form-username-field">
      <label i18n for="username">Benutzername</label>
      <div class="ui left corner labeled input">
        <input
          formControlName="username"
          type="text"
          id="username"
          data-cy="team-form-username-input"
        />
        <div class="ui left corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
      <bam-form-error-message
        fieldName="Benutzername"
        [errors]="form.controls.username.errors"
        i18n-fieldName
      />
    </div>

    <div class="field">
      <button
        type="submit"
        class="ui fluid button save-button"
        i18n
        data-cy="team-form-submit-button"
        [disabled]="isSubmitting()"
        [class]="[form.valid ? 'green' : 'red']"
      >
        Speichern
      </button>
    </div>
  </div>

  <div class="two fields">
    <div class="field" data-cy="team-form-jms-queue-field">
      <label i18n for="jmsQueue">JMS-Queue</label>
      <div class="ui left corner labeled input">
        <input
          formControlName="jmsQueue"
          type="text"
          id="jmsQueue"
          data-cy="team-form-jms-queue-input"
        />
        <div class="ui left corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
      <bam-form-error-message
        fieldName="JMS-Queue"
        [errors]="form.controls.jmsQueue.errors"
      />
    </div>

    <div class="field" data-cy="team-form-password-field">
      <label i18n for="password">Passwort</label>
      <div class="ui action input left corner labeled">
        <input
          formControlName="password"
          type="text"
          id="password"
          data-cy="team-form-password-input"
        />
        <div class="ui left corner label">
          <i class="asterisk icon"></i>
        </div>
        <button
          i18n
          type="button"
          class="ui button"
          data-cy="team-form-generate-password-button"
          (click)="generatePassword()"
        >
          Generieren
        </button>
      </div>
      <bam-form-error-message
        fieldName="Passwort"
        i18n-fieldName
        [errors]="form.controls.password.errors"
      />
    </div>
  </div>

  <div formArrayName="students" class="field">
    <!--
      eslint-disable-next-line @angular-eslint/template/label-has-associated-control --
      There is no way to get styles of fomantic ui using another element.
     -->
    <label i18n>Studenten</label>

    @for (c of students.controls; track c.controls.uuid.getRawValue()) {
      <div
        class="two fields"
        data-cy="team-form-student-field"
        [formGroupName]="$index"
      >
        <div class="field" data-cy="team-form-student-firstname-field">
          <input
            i18n-placeholder
            formControlName="firstname"
            placeholder="Vorname"
            type="text"
            data-cy="team-form-students-firstname-input"
          />
          @if (
            students.controls[$index].controls.lastname.getRawValue().length >=
            2
          ) {
            <bam-form-error-message
              fieldName="Vorname"
              i18n-fieldName
              [errors]="students.controls[$index].errors"
            />
          }
          <bam-form-error-message
            fieldName="Vorname"
            i18n-fieldName
            [errors]="students.controls[$index].controls.firstname.errors"
          />
        </div>

        <div class="field" data-cy="team-form-student-lastname-field">
          <div class="ui action input">
            <input
              i18n-placeholder
              formControlName="lastname"
              placeholder="Nachname"
              type="text"
              data-cy="team-form-students-lastname-input"
            />
            <button
              type="button"
              class="ui green icon button"
              data-cy="team-form-students-add-button"
              (click)="addStudent()"
            >
              <i class="add icon"></i>
            </button>
            <button
              type="button"
              class="ui red icon button"
              data-cy="team-form-students-remove-button"
              (click)="removeStudent($index)"
            >
              <i class="trash icon"></i>
            </button>
          </div>
          @if (
            students.controls[$index].controls.firstname.getRawValue().length >=
            2
          ) {
            <bam-form-error-message
              fieldName="Nachname"
              i18n-fieldName
              [errors]="students.controls[$index].errors"
            />
          }
          <bam-form-error-message
            fieldName="Nachname"
            i18n-fieldName
            [errors]="students.controls[$index].controls.lastname.errors"
          />
        </div>
      </div>
    }
  </div>

  @if (asyncBanks().length) {
    <bam-team-form-statistics
      [statistics]="statistics.getRawValue() | asyncStatistics: asyncBanks()"
      [banks]="asyncBanks()"
      (statisticsDrop)="replaceStatistics($event)"
    />
  }
</form>
