<div class="image image-wrapper">
  <img
    fill
    priority
    alt="Bank"
    i18n-alt
    class="ui tiny image custom-image"
    data-cy="bank-list-item-image"
    [ngSrc]="
      bank().thumbnailUrl | imageError: imageError.hasImageLoadingError()
    "
    (error)="imageError.showFallbackImage()"
  />
</div>

<div class="content">
  <div class="header">{{ bank().name }}</div>
  <div class="description" data-cy="bank-list-item-description">
    <ng-container i18n>Status:</ng-container>
    {{ bank().isActive | activeStatus }}
  </div>
  <div class="metadata" data-cy="bank-list-item-metadata">
    {{ bank().isAsync | asyncStatus }}
    <br />
    @if (bank().isAsync) {
      <div i18n>Verschiedene Teams</div>
    } @else {
      <div i18n>Alle Teams</div>
    }
  </div>
</div>
