.container {
  height: 100%;
  display: grid;
  grid-template-rows: 60px 1fr;
}

.header {
  margin-bottom: 1rem;
}

.content {
  height: 100%;
  padding-bottom: 10px;
}

@media print {
  .is-printing {
    display: none;
  }
}
