<div class="container" [class.is-printing]="print.isPrinting()">
  <header class="header" data-cy="header">
    <bam-header />
  </header>

  <main class="content" data-cy="main">
    <router-outlet />
  </main>
</div>

<router-outlet name="print" />

@if (isLoading()) {
  <bam-loading />
}
