<h4 i18n class="parameter-headline">Parameter</h4>

@if (parameters().length) {
  <table class="ui celled table" data-cy="task-details-parameters-table">
    <thead>
      <tr data-cy="task-details-table-row-parameter">
        <th i18n data-cy="task-details-table-column-parameter">Name</th>
        <th i18n data-cy="task-details-table-column-parameter">Typ</th>
        <th i18n data-cy="task-details-table-column-parameter">Beschreibung</th>
        <th i18n data-cy="task-details-table-column-parameter">Beispiel</th>
      </tr>

      @if (responses().length) {
        <tr
          class="invisible"
          data-cy="task-details-invisible-table-row-response"
        >
          <th i18n>Statuscode</th>
          <th i18n>Content-Type</th>
          <th i18n>Beschreibung</th>
          <th i18n>Beispiel</th>
        </tr>
      }
    </thead>

    <tbody>
      @for (parameter of parameters() | tableParameters; track parameter.uuid) {
        <tr data-cy="task-details-table-row-parameter">
          <td>{{ parameter.name }}</td>
          <td>{{ parameter.type }}</td>
          <td data-cy="task-details-table-description-cell">
            {{ parameter.description }}
          </td>
          <td>{{ parameter.example }}</td>
        </tr>
      }

      @for (response of responses() | tableResponses; track response.uuid) {
        <tr
          class="invisible"
          data-cy="task-details-invisible-table-row-response"
        >
          <td>{{ response.httpStatusCode }}</td>
          <td>{{ response.contentType }}</td>
          <td>{{ response.description }}</td>
          <td>{{ response.example }}</td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <div i18n data-cy="task-details-no-parameters-message">
    Keine Parameter vorhanden
  </div>
}

<h4 i18n>Antworten</h4>

@if (responses().length) {
  <table class="ui celled table" data-cy="task-details-responses-table">
    <thead>
      @if (parameters().length) {
        <tr
          class="invisible"
          data-cy="task-details-invisible-table-row-parameter"
        >
          <th i18n>Name</th>
          <th i18n>Typ</th>
          <th i18n>Beschreibung</th>
          <th i18n>Beispiel</th>
        </tr>
      }

      <tr data-cy="task-details-table-row-response">
        <th i18n data-cy="task-details-table-column-response">Statuscode</th>
        <th i18n data-cy="task-details-table-column-response">Content-Type</th>
        <th i18n data-cy="task-details-table-column-response">Beschreibung</th>
        <th i18n data-cy="task-details-table-column-response">Beispiel</th>
      </tr>
    </thead>

    <tbody>
      @for (parameter of parameters() | tableParameters; track parameter.uuid) {
        <tr
          class="invisible"
          data-cy="task-details-invisible-table-row-parameter"
        >
          <td>{{ parameter.name }}</td>
          <td>{{ parameter.type }}</td>
          <td>{{ parameter.description }}</td>
          <td>{{ parameter.example }}</td>
        </tr>
      }

      @for (response of responses() | tableResponses; track response.uuid) {
        <tr data-cy="task-details-table-row-response">
          <td data-cy="task-details-table-http-status-code-cell">
            {{ response.httpStatusCode }}
          </td>
          <td>{{ response.contentType }}</td>
          <td>{{ response.description }}</td>
          <td>{{ response.example }}</td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <div i18n data-cy="task-details-no-responses-message">
    Keine Antworten vorhanden
  </div>
}
