.container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 40px;
  align-items: start;
}

.two-column-container {
  grid-template-columns: minmax(476.75px, 1fr) auto;
}

.custom-list {
  margin: 0;
}

.filter-wrapper {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  box-sizing: border-box;
  padding: 7px 16px;
}

.no-pagination {
  grid-template-rows: 1fr;
}

.pagination {
  justify-self: center;
}
