<div
  class="container"
  [class]="{
    'no-pagination': !pagination(),
    'two-column-container': showFilter(),
  }"
>
  <div class="ui middle aligned selection divided list custom-list">
    <ng-content select="item" />
  </div>

  @if (showFilter()) {
    <div class="filter-wrapper">
      <ng-content select="filter" />
    </div>
  }

  @if (!!(pagination().next || pagination().prev)) {
    <div class="ui pagination menu" data-cy="cursor-pagination-menu">
      <a
        queryParamsHandling="merge"
        class="item"
        data-cy="cursor-pagination-start-item"
        i18n
        [routerLink]="baseRouterLink()"
        [queryParams]="{ cursor: pagination().first }"
        [class.active]="!pagination().prev && pagination().next"
      >
        Start
      </a>

      @if (pagination().prev) {
        <a
          queryParamsHandling="merge"
          class="item"
          i18n
          data-cy="cursor-pagination-previous-item"
          [routerLink]="baseRouterLink()"
          [queryParams]="{ cursor: pagination().prev }"
        >
          Vorherige
        </a>
      }

      @if (pagination().next) {
        <a
          queryParamsHandling="merge"
          class="item"
          i18n
          data-cy="cursor-pagination-next-item"
          [routerLink]="baseRouterLink()"
          [queryParams]="{ cursor: pagination().next }"
        >
          Nächste
        </a>
      }

      @if (pagination().last) {
        <a
          queryParamsHandling="merge"
          class="item"
          data-cy="cursor-pagination-end-item"
          i18n
          [routerLink]="baseRouterLink()"
          [queryParams]="{ cursor: pagination().last }"
          [class.active]="pagination().prev && !pagination().next"
        >
          Ende
        </a>
      }
    </div>
  }
</div>
